<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock  %}</title>
</head>

<body>
  <nav>
    <ul class="main">
      <li><a href="/index">图书列表</a></li>
      <li><a href="/create">添加图书</a></li>
      <li class="login-info">
        <a id="noLogin" href="/user/login">登录</a>
        <div id="isLogin" style="display: none;">
          <span id="userName"></span>
          <a href="javascript:" id="loginOut">退出</a>
      </div>
      </li>
    </ul>
  </nav>
  <div class="main">
    {% block content %}{% endblock  %}
  </div>
</body>
<script src="/dist/system.js"></script>
<script>System.import('/javascripts/getUser.js')</script> 
</html>